form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    height: 55vh;
    margin-top: 5vh;
    box-shadow: 0.01vw 0.05vw 0.1vw 0.15vw gray;
    border-radius: 1.5vw;
}

.formFirstHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 27.5vh;
}

.formSecondHalf {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 27.5vh;
}