.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 4vh 0 4vh 0;
    padding-top: 3vh;
    padding-bottom: 0.5vh;
    border-left: solid gray 0.1vw;
    border-right: solid gray 0.1vw;
}

.productCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 20vh;
    margin-bottom: 2.5vh;
    background-color: white;
    box-shadow: 0.01vw 0.05vw 0.1vw 0.15vw gray;
    border-radius: 2vw;
    img {
        width: 10%;
    }
    div {
        width: 66%;
        h2 {
            font-size: 1.4rem;
            color: black;
        }
        p {
            font-size: 1.2rem;
            color: black;
        }
    }
    h3 {
        width: 12%;
        font-size: 1.6rem;
        color: black;
    }
    &:hover {
        width: 85%;
        cursor: pointer;
    }
}

@media (max-width: 450px) {
    .catalog {
        width: 90%;
    }
    .productCard {
        flex-direction: column;
        height: 50vh;
        padding: 2.5vh 0 2vh 0;
        img {
            width: 30%;
        }
        div{
            h2 {
                font-size: 1.2rem;
            }
            p {
                font-size: 1rem;
            }
        }
        h3 {
            width: 50%;
            font-size: 2rem;
        }
    }
}